html, body {
    padding: 0;
    margin: 0;
}

#timer {
    font-family: monospace;
}

input {
    width: 50px;
    text-align: right;
}

input.incorrect {
    background: red;
    color: white;
}

input.correct {
    background: green;
    color: white;
}

table {
    border-spacing: 0;
}

table tr:first-child td,
table tr td:first-child {
    text-align: right;
}